/** Styling of head nav bar **/

head-nav-bar {
    background-color: black;
    color: #DCDCDC;
    position: fixed;
    display: block;
    width: 100%;
    height: 5%;
    margin: 0%;
    z-index: 1;
    top: 0%;
    overflow: hidden;
    padding: 0;
}


/** Styling of meeting page body container **/

body-container {
    margin: 6% auto 0 auto;
    padding: 0 2%;
    width: 100%;
    height: 90%;
    display: block;
    background-color: black;
    overflow: hidden;
}

html,
body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    background-color: black;
    overflow: hidden;
}

p {
    display: block;
}


/** Style the container holding the video meeting you are in**/

.meeting-content-container {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: black;
    vertical-align: top;
    position: relative;
}


/** Styling the text of concurrent meeting names **/

.onscreen-name {
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5%;
    display: block;
    font-size: 90%;
    cursor: pointer;
}


/** Styling of list of active meetings on meeting page **/

.active-meeting-list {
    background-color: black;
    position: inherit;
    display: inline-block;
    align-content: center;
    overflow: hidden;
    top: 0;
    width: 20%;
    height: 100%;
    margin: 0 auto;
    vertical-align: top;
    float: right;
}


/** Styling of the meeting list**/

.meeting-list-wrap {
    background-color: transparent;
    margin-left: 2%;
    width: 104%;
}


/** Styling for container holding active meeting name and button**/

.individual-active-meeting {
    width: 95%;
    height: 15%;
    border-radius: 4%;
    background-color: rgb(27, 38, 56);
    color: rgb(184, 199, 224);
    font-size: 75%;
    padding: 2%;
    margin: 0 auto 2% auto;
    display: none;
    vertical-align: top;
    position: relative;
}


/** Styling of top navigation bar **/

.topnav {
    overflow: hidden;
    background-color: rgb(27, 38, 56);
    position: fixed;
    top: 5%;
    width: 100%;
    height: 5%;
}


/** Styling of join meeting button in nav bar**/

.topnav a {
    float: left;
    display: block;
    font-size: 80%;
    color: white;
    text-align: center;
    padding: 1% 2%;
    text-decoration: none;
}


/** Set style upon hovering over join meeting button**/

.topnav a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: rgb(184, 199, 224);
    color: black;
}


/** Style buttons used to take you to other meetings**/

button {
    float: right;
    display: block;
    font-size: 78%;
    background-color: black;
    color: rgb(184, 199, 224);
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    box-shadow: none;
    border-style: none;
    border-radius: 2px;
    border-width: 1px;
    height: 40%;
    opacity: 70%;
    width: 68%;
    border-color: rgb(184, 199, 224);
    margin: 1% 0%;
    word-wrap: normal;
    overflow: hidden;
}


/** Styling for container holding buttons to switch and leave active meetings **/

.session-btn-container {
    width: 145%;
    height: 7vh;
    margin: auto;
    display: block;
    background-color: transparent;
    padding-bottom: 2px;
    bottom: 0;
    position: absolute;
}


/** Styling for when user hovers over join meeting button**/

.join-btn:hover {
    background-color: #D3D3D3;
    color: black;
    cursor: pointer;
    border: none;
    outline: none;
}


/** Styling for when user hovers over leave meeting button**/

.leave-btn:hover {
    background-color: #D3D3D3;
    color: black;
    cursor: pointer;
    border: none;
    outline: none;
}


/** Styling for join meeting form**/

#join-new-form {
    background-color: rgb(27, 38, 56);
    width: 35%;
    height: 70%;
    opacity: 100%;
    position: absolute;
    top: 0;
    display: none;
    padding: 2%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 2px;
    border: 2px solid rgb(184, 199, 224);
}

a {
    display: inline-block;
    width: 5%;
}

input {
    width: 80%;
    height: 7%;
}

form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 80%;
}

.closebtn {
    background-color: black;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closebtn:hover {
    background-color: rgb(184, 199, 224);
    color: black;
}

.joinmeetingbtn {
    background-color: black;
    border: none;
    color: rgb(184, 199, 224);
    font-size: 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 68%;
    float: left;
    margin-left: 15%;
    position: relative;
    bottom: 25px;
    font-size: 75%;
}

.joinmeetingbtn:hover {
    background-color: rgb(184, 199, 224);
    color: black;
}

 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: grey;
    font-size: 70%;
    border-radius: 20px;
}

input[type=text] {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 2px;
    border: 2px solid rgb(184, 199, 224);
    color: black;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    ;
}

input[type=text]:focus {
    outline: none;
    border: 4px solid rgb(184, 199, 224);
    color: black;
}

#concurrent_thumbnail {
    background-color: navy;
    color: white;
    position: absolute;
    width: 300;
    right: 0;
    height: 200;
    top: 8%;
    display: none;
}

.side-container {
    width: 48%;
    height: 95%;
    background-color: darkgreen;
    display: inline-block;
    margin: 0;
}

#tableMeeting {
    width: 80%;
}